<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" packagingData="true">
    <property name="fileName" value="./build/tmp/logFile.log" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${fileName}</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="console" level="ALL">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="logFile" level="ALL">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>